.yoga{
    min-height:100vh;
    background:#f9f5f2;
    padding:110px 8vw 80px;
}

.yoga-header{
    text-align:center;
    margin-bottom:80px;
}

.yoga-header h2{
    font-family:"Cormorant Garamond",serif;
    font-size:4.5rem;
    font-style:italic;
    font-weight:400;
    color:#97140f;
    margin-bottom:18px;
}

.yoga-header p{
    font-family:"Cormorant Garamond",serif;
    font-size:2rem;
    color:#7f6859;
    line-height:1.4;
}

.yoga-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:70px;
    align-items:flex-start;
}

.practice-card{
    text-align:center;
}

.yoga-card-image {
    width: 240px;
    height: 240px;
    margin: 0 auto 35px;
    border-radius: 50%;
    overflow: hidden;
}

.yoga-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   transition:
        transform .8s cubic-bezier(.19,1,.22,1),
        filter .8s ease;
}

.practice-card:hover .yoga-card-image img {
    transform: scale(1.15);
    filter: brightness(1.08);
}

.practice-card {
    text-align: center;
    transition: transform .45s cubic-bezier(.19,1,.22,1);
}

.practice-card:hover {
    transform: translateY(-8px);
}

.yoga-card-image {
    width: 240px;
    height: 240px;
    margin: 0 auto 35px;
    border-radius: 50%;
    overflow: hidden;
}

.yoga-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        transform .8s cubic-bezier(.19,1,.22,1),
        filter .8s ease;
}

.practice-card:hover .yoga-card-image img {
    transform: scale(1.15);
    filter: brightness(1.08);
}

.practice-card h3{
    font-family:"Cormorant Garamond",serif;
    color:#97140f;
    font-style:italic;
    font-size:2.2rem;
    font-weight:500;
    margin-bottom:40px;
}

.practice-text{
    max-width:430px;
    margin:auto;
}

.practice-text p{
    font-family:"Montserrat",sans-serif;
    color:#7b685d;
    font-size:1.45rem;
    line-height:2;
    margin-bottom:20px;
}

@media(max-width:1100px){

.yoga-grid{
    grid-template-columns:1fr;
    gap:90px;
}

.practice-card img{
    width:220px;
    height:220px;
}

.yoga-header h2{
    font-size:3.6rem;
}

}