.pricing{

    min-height:100vh;
    background: #faf7f3;

    padding:120px 8% 100px;

}

.pricing h2{
position: relative;
    font-family:"Cormorant Garamond",serif;
    font-size:4.5rem;
    font-weight:400;

    margin-bottom:60px;
     color: #5b4636;
}

.pricing h2::after{
content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 90px;
  height: 2px;
   background-color: #b65a38;
}

.pricing-top{

    display:grid;
    grid-template-columns:420px 1fr;

    gap:90px;

    align-items:start;

}

.pricing-image{

    overflow:hidden;

}

.pricing-image img{

    width:100%;
    display:block;

}

.pricing-content{

   font-family: Arial, sans-serif;
   color: #5b4636;

}

.pricing-content h3{
position: relative;
    font-family:"Cormorant Garamond",serif;
    font-weight: 500;
    font-size:2.4rem;
    margin-bottom:45px;
     color: #b65a38;

}

.pricing-content h3::after{
content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 90px;
  height: 2px;
   background-color: #b65a38;
}

.pricing-block{
    margin-bottom:60px;
font-size:20px;
}

.pricing-block p{

    line-height:1.8;
    margin-bottom:10px;

}

.pricing-block ul{

    padding-left:28px;

    margin:18px 0 18px;

}

.pricing-block li{

    font-size:17px;
    list-style: disc;
cursor:default;
    line-height:2;

}
.pricing-block li::marker {
  color: #b65a38;
  font-size: 20px;
}
.company{

    margin-top:90px;

    max-width:900px;

}

.company h3{

    font-family:"Cormorant Garamond",serif;

    font-size:2.3rem;

    text-decoration:underline;

    margin-bottom:40px;

}

.company p{

    font-family: Arial, sans-serif;

    font-size:17px;

     color: #5b4636;

    line-height:2;

    margin-bottom:12px;

}

@media(max-width:1100px){

.pricing-top{

    grid-template-columns:1fr;

    gap:60px;

}

.pricing-image{

    max-width:420px;

    margin:auto;

}

}